# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# IDE files
.vscode/
.idea/

# --- CRITICAL ---
# Secret keys and config files
.env
config.ini

# Data files
*.csv
*.json
!src/data/universe.csv
!package.json
!package-lock.json
!frontend/package.json
!frontend/package-lock.json

# Notebook checkpoints
.ipynb_checkpoints/

# Models
*.pkl